.square{
  text-align: center;
}

#container{
  width: 1000px;
  height: 750px;
  position: static;
  font-family: 'Marker Felt';
  background-image: url("http://www.desktopwallpaperhd.net/wallpapers/13/9/beautiful-beach-venice-california-background-related-widescreen-summer-138713.jpg");
  background-position: center;
  background-size: cover;
  border-style: outset;
  border: 10px rgba(0,0,0,0.7);
  border-radius: 10px;
  padding-left: 10px;
}

#sideBar{
  width: 160px;
  height: 490px;
  background-color: rgba(255,255,255, 0.5);
  float: right;
  text-align: center;
  border-style: inset;
  border: 10px rgba(0,0,0,0.7);
  border-radius: 10px;
  margin: 10px;
  padding-right: 20px;

}

#main{
  width: 760px;
  height: 470px;
  background-color: rgba(255,255,255, 0.5);
  float: left;
  border-style: inset;
  border: 10px rgba(0,0,0,0.7);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;

}

#subMain1{
  width: 580px;
  height: 200px;
  background-color: rgba(255,255,255, 0.5);
  float: left;
  border-style: inset;
  border: 5px rgba(0,0,0,0.7);
  border-radius: 10px;
  margin: 10px;
}

#subMain2{
  width: 180px;
  height: 200px;
  background-color: rgba(255,255,255, 0.5);
  float: right;
  border-style: inset;
  border: 5px rgba(0,0,0,0.7);
  border-radius: 10px;
  margin: 10px;

}

#subMain3{
  width: 180px;
  height: 200px;
  background-color: rgba(255,255,255, 0.5);
  float: right;
  border-style: inset;
  border: 5px rgba(0,0,0,0.7);
  border-radius: 10px;
  margin: 10px;

}

footer{
  height: 65px;
  width: 1010px;
  display: inline;
  background-color: black;
  float: right;
  text-align: center;
  border-style: inset;
  border: 5px rgba(0,0,0,0.7);
  border-radius: 10px;
}

h2{
  text-decoration: underline;
  float:left;
  padding-left: 20px;
  font-size: 40px;
}

p{
  float: left;
  border-radius: 10px;
  border: 5px rgba(0,0,0,0.7);
  position:static;
  border-style: solid;



}
